<ul class="small-block-grid-2">
  <li>
	<a href="/admin/rivers" class="button split">Rivers <span data-dropdown="drop"></span></a><br>
	<ul id="drop" class="f-dropdown" data-dropdown-content>
	  <li><a href="/admin/rivers">List</a></li>
	  <li><a href="/admin/rivers/add">Add</a></li>
	</ul>
  </li>
  <li>
	<a href="/admin/gauges" class="button split">Gauges <span data-dropdown="drop"></span></a><br>
	<ul id="drop" class="f-dropdown" data-dropdown-content>
	  <li><a href="/admin/gauges">List</a></li>
	  <li><a href="/admin/gauges/add">Add</a></li>
	</ul>
  </li>
</ul>

