footer#site-footer {
  position: absolute;
  width: 100%;
  font-size: 0.8rem;
  text-align: center;
  background: $complement-4;
  color: $complement-1;
  padding:1rem;

  p {
    font-size: 0.8rem;
    margin-bottom: 0;
  }
}
