body.gauge {

  .weather-conditions {
    list-style:none;
    padding:1rem;
  }

  .metrics {
    font-size:4rem;
    color:#fff;
    text-align: center;

    .tile {
      min-height:100px;
      background: $complement-0;
      text-align: center;
      border-radius:100px;
      margin:1rem;
      display:block;
    }
  }
}
