// Site Colors

/* Main Primary color */
$primary-0: rgba( 42, 77,110,1);
$primary-1: rgba(254,254,254,1);
$primary-2: rgba(122,149,174,1);
$primary-3: rgba(  4, 27, 50,1);
$primary-4: rgba(  0,  0,  1,1);


/* Main Complement color */
$complement-0: rgba(170,124, 57,1);
$complement-1: rgba(255,255,255,1);
$complement-2: rgba(255,222,173,1);
$complement-3: rgba( 77, 45,  0,1);
$complement-4: rgba(51, 51, 51,1);

$tabbar-bg: $primary-2;

$table-bg: $primary-2;
$table-even-row-bg: $complement-0;

$anchor-font-color: $complement-2;
$anchor-font-color-hover: scale-color($anchor-font-color, $lightness: -14%);

