{{#paper-sidenav-container class="inner-sidenav"}}

  {{#paper-sidenav
    class="md-whiteframe-z2"
    name="left"
    open=leftSideBarOpen
    onToggle=(action (mut leftSideBarOpen))
  }}

    {{#paper-toolbar as |toolbar|}}

      {{#paper-toolbar-tools}}
        Admin Options
      {{/paper-toolbar-tools}}

    {{/paper-toolbar}}

    {{#paper-content padding=true}}

      <ul>

        <li>{{link-to 'Gauges' 'admin.gauge'}}</li>

      </ul>

    {{/paper-content}}

  {{/paper-sidenav}}

  {{outlet}}

{{/paper-sidenav-container}}


