<div class="flex layout-column">

  {{#paper-toolbar}}

    {{#paper-toolbar-tools}}

    <h2>States</h2>

    {{/paper-toolbar-tools}}

  {{/paper-toolbar}}

  {{outlet}}

</div> {{!-- layout-column --}}
