<form action="/rivers/update/<%= river.id %>" method="POST">

  <div class="row">
    <div class="large-12 columns">

      <label>Name
        <input type="text" placeholder="James River" name="name" value="<%= river.name %>"/>
      </label>

      <div class="switch">
        <input id="status" type="checkbox" name="status" <% if('on' === river.status) {%> checked <%}%>>
        <label for="status">Active</label>
      </div>

      <input type="submit" value="Update River"/>

    </div>
  </div>
</form>
