<% if (session.authenticated) { %>
  <ul class="logged-in user-tools">
    <li><a href="/rivers/new" class="button tiny right">Add</a></li>
  </ul>
<% } %>

<div class="row">
  <div class="small-12 column">
    <header>
      <div class="row">
        <div class="small-12 column">
        <h1>Rivers</h1>
        </div>
      </div>
    </header>
  </div>
</div>


<div class="row">
  <div class="small-12 column">
    <table>
      <thead>
        <tr>
          <th>Name</th>
        </tr>
      </thead>
      <tbody>
        <% _.each(rivers, function(river) { %>
          <tr>
            <td><a href="rivers/view/<%= river.id %>"><%= river.name %></a></td>
          </tr>
        <% }); %>
      </tbody>
    </table>
  </div>
</div>
