<form action="create" method="POST">

  <div class="row">
    <div class="large-12 columns">

      <div class="switch">
        <input id="exampleCheckboxSwitch" type="checkbox" name="active">
        <label for="exampleCheckboxSwitch">Active</label>
      </div>

      <label>Name
        <input type="text" placeholder="James River" name="name"/>
      </label>

      <input type="hidden" name="id" value="<%= id %>" />
      <input type="hidden" name="_csrf" value="<%= _csrf %>" />
      <input type="submit"/>

    </div>
  </div>
</form>
