<div class="center row">
  <section>
    <p class="title" data-section-title><a href="#">Sign In</a></p>
    <div class="content" data-section-content>
      <p>
        <div class="row">
          <div class="large-12 columns">
            <div class="signup-panel">
              <form action="/users/authenticate" method="POST">
                <div class="row collapse">
                  <div class="small-2 columns">
                    <span class="prefix"><i class="fi-mail"></i></span>
                  </div>
                  <div class="small-10  columns">
                    <input type="text" name="email" name="email" placeholder="Email">
                  </div>
                </div>
                <div class="row collapse">
                  <div class="small-2 columns ">
                    <span class="prefix"><i class="fi-lock"></i></span>
                  </div>
                  <div class="small-10 columns ">
                    <input type="password" name="password" name="password" placeholder="Password">
                  </div>
                </div>
                <input type="submit" value="Sign In"/>
              </form>
            </div>
          </div>
         </div>
       </p>
    </div>
  </section>
<div>
