<div class="row">
  <div class="small-12 column">
    <header>
      <div class="row">
        <div class="small-12 column">
          <h1>About</h1>
        </div>
      </div>
    </header>
  </div>
</div>


<div class="row">
  <div class="small-12 column">

  <p>Welcome,</p>

  <p>RiverFlow is an open source project developed by <a href="http://matthewrosenberg.com">Matthew Rosenberg</a> in Richmond, Virginia. The code that powers this site is available on <a href="https://github.com/mrosenberg/riverflow" title="Github Project Page">Github</a> under the GPLv2 license. That means you can copy, fork, or do whatever you want with the code.</p>


  <p>This site is powered by data provided by the <a href="http://www.weather.gov/" title="National Weather Service">National Weather Service</a>, the <a href="http://www.usgs.gov/" title="USGS">U.S. Geological Survey</a> and <a href="http://forecast.io/">Forecast</a>.</p>

  </div>

</div>

<div class="row">

  <div class="small-12 column">

    <p>If you enjoy this site and want to see more rivers and gauges added, put a drop in the bucket.</p>

    <p>Thanks!<p>

    <p>
      <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
        <input type="hidden" name="cmd" value="_s-xclick">
        <input type="hidden" name="hosted_button_id" value="ZBC8Z5UEXGNC6">
        <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
        <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
      </form>
    </p>

  </div>
</div>

<div class="row">

  <div class="small-6 column">
    <img src="images/sailsjslogo.png" alt="sailsjs logo"/>
  </div>

  <div class="small-6 column">
    <img src="images/nodejs-light.png" alt="nodejs logo"/>
  </div>


</div>
