<div class="row">
  <div class="small-12 column">
    <header>
      <div class="row">
        <div class="small-12 column">
          <h1>About</h1>
        </div>
      </div>
    </header>
  </div>
</div>


<div class="row">
  <div class="small-12 column">

  <p>Welcome,</p>

  <p>This site is powered by data provided by the National Weather Service, the U.S. Geological Survey and Forecast.</p>

  </div>
</div>
