<form id="auto-search" action="/search" method="POST">
  <div class="row">
    <div class="large-12 columns">
      <label for="search">Find Your Flow</label>
      <input id="search" type="text" name="term" placeholder="Search..."/>

    </div>
  </div>
  <input class="no-js" type="submit" value="Find"/>
</form>
