<div class="swatch primary-0">
  <span>primary-0</span>
</div>

<div class="swatch primary-1">
  <span>primary-1</span>
</div>

<div class="swatch primary-2">
  <span>primary-2</span>
</div>

<div class="swatch primary-3">
  <span>primary-3</span>
</div>

<div class="swatch primary-4">
  <span>primary-4</span>
</div>


<div class="swatch complement-0">
  <span>complement-0</span>
</div>

<div class="swatch complement-1">
  <span>complement-1</span>
</div>

<div class="swatch complement-2">
  <span>complement-2</span>
</div>

<div class="swatch complement-3">
  <span>complement-3</span>
</div>

<div class="swatch complement-4">
  <span>complement-4</span>
</div>

