<a href="/gauges/create" class="button tiny right">Add</a>

<dl class="sub-nav">
  <dt>Filter:</dt>
  <dd class="active"><a href="#">All</a></dd>
  <dd><a href="?status=active">Active</a></dd>
  <dd><a href="?status=suspended">Suspended</a></dd>
</dl>

<h1>Gauges</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>ID</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    <% _.each(gauges, function(gauge) { %>
      <tr>
        <td><a href="/gauges/view/<%= gauge.id %>"><%= gauge.name %></a></td>
        <td><%= gauge.id %></td>
        <td><%= gauge.status %></td>
      </tr>
    <% }); %>
  </tbody>
</table>
