<% if (session.authenticated) { %>
  <ul class="logged-in user-tools">
    <li><a href="/gauges/create" class="button tiny right">Add</a></li>
  </ul>
<% } %>


<div class="row">
  <div class="small-12 column">
    <header>
      <div class="row">
        <div class="small-12 column">
          <h1>Gauges</h1>
        </div>
      </div>
    </header>
  </div>
</div>


<div class="row">
  <div class="small-12 column">
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Updated</th>
        </tr>
      </thead>
      <tbody>
        <% _.each(gauges, function(gauge) { %>
          <tr>
            <td><a href="/gauges/view/<%= gauge.id %>"><%= gauge.name %></a></td>
            <td><%= gauge.updateAgo %></td>
          </tr>
        <% }); %>
      </tbody>
    </table>
  </div>
</div>

