<form action="create" method="POST">

  <div class="row">
    <div class="large-12 columns">

      <label>USGS ID
        <input type="text" placeholder="02037500" name="usgsID"/>
      </label>

      <label>NWS ID
        <input type="text" placeholder="RMDV2" name="nwsID"/>
      </label>

      <label>Latitude
        <input type="text" placeholder="37.5536111" name="latitude"/>
      </label>

      <label>Longitude
        <input type="text" placeholder="-77.4605556" name="longitude"/>
      </label>

      <label>TimeZone
      <select name="timeZone">
        <% timeZones.forEach(function(zone) { %>
          <option value="<%= zone %>"><%= zone %></option>
        <% }) %>
      </select>

      <label>Action Stage
        <input type="text" placeholder="9" name="actionStage"/>
      </label>

      <label>Minor Stage
        <input type="text" placeholder="12" name="minorStage"/>
      </label>

      <label>Moderate Stage
        <input type="text" placeholder="15" name="moderateStage"/>
      </label>

      <label>Major Stage
        <input type="text" placeholder="22" name="majorStage"/>
      </label>

      <label>Rivers
        <select name="river">
          <% _.each(rivers, function(river) { %>
            <option value="<%= river.id%>"><%= river.name %></option>
          <% }); %>
        </select>
      </label>

      <div class="switch">
        <input id="gauge-status" type="checkbox" name="status">
        <label for="gauge-status">Active</label>
      </div>

      <label>Name
        <input type="text" placeholder="James River" name="name"/>
      </label>

      <input type="submit" value="Save Gauge"/>

    </div>
  </div>
</form>
